.root {
	primary: #051937;
	secondary: #A8EB12;
	other: #008793;
	pay: #24B056;
}

.login-frame {
	-fx-border-radius: 40px;
	-fx-background-radius: 40px;
}

.login-part {
	-fx-border-radius: 40px;
	-fx-background-radius: 40px;
	-fx-padding: 0 0 10px;
	-fx-alignment: center;
	-fx-pref-width: 280px;
	-fx-spacing: 20px;
	-fx-background-color: linear-gradient(to right top, primary, #004d7a, #008793, #00bf72, secondary);
}

.login-logo-wrap {
	-fx-alignment: bottom-center;
	-fx-spacing: 5px;
	-fx-border-radius: 40px;
	-fx-background-radius: 40px;
}

.login-logo-wrap .login-logo-lbl {
	-fx-text-fill: white;
	-fx-font-family: "Fira Code";
	-fx-font-size: 22px;
	-fx-font-weight: bold;
}

.app-desc-wrap {
	-fx-alignment: center;
	-fx-spacing: 2px;
}

.app-desc1 {
	-fx-text-fill: white;
	-fx-font-family: "Arial";
	-fx-font-size: 14px;
}

.app-desc2 {
	-fx-text-fill: white;
	-fx-font-family: "Arial";
	-fx-font-size: 21px;
}

.dev-ads {
	-fx-text-fill: white;
	-fx-font-family: "Cascadia Mono PL";
	-fx-font-size: 11px;
	-fx-font-weight: bold;
}

.login-form {
	-fx-border-radius: 40px;
	-fx-background-radius: 40px;
	-fx-alignment: center;
	-fx-padding: 0 60 0 60;
}

.lg-form-title {
	-fx-text-fill: primary;
	-fx-font-family: "JetBrains Mono";
	-fx-font-size: 23px;
	-fx-font-weight: bold;
}

.lg-button {
	-fx-alignment: bottom-center;
	-fx-spacing: 8px;
}

.lg-button > .button {
	-fx-pref-width: 110px;
	-fx-background-color: primary;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-background-radius: 30px;
	-fx-border-radius: 30px;
}

.lg-button > .button:hover {
	-fx-background-color: linear-gradient(to right top, primary, #004d7a, #008793, #00bf72, secondary);
	-fx-cursor: hand;
}

.frame {
	-fx-pref-width: 1100px;
	-fx-pref-height: 700px;
	-fx-border-radius: 40px;
	-fx-background-radius: 40px;
}

.side-bar {
	-fx-border-radius: 40px;
	-fx-background-radius: 40px;
	-fx-pref-width: 220px;
	-fx-background-color: primary;
}

.app-logo {
	-fx-pref-height: 80px;
	-fx-alignment: center;
	-fx-spacing: 15px;
}

.app-logo > Label, .app-logo > SVGPath {
	-fx-text-fill: white;
	-fx-font-family: "Fira Code";
	-fx-font-size: 25px;
	-fx-font-weight: bold;
	-fx-fill: white;
}

.menu-btn-wrap {
	-fx-padding: 0 10 10 10;
	-fx-spacing: 10px;
}

.menu-btn {
	-fx-pref-height: 40px;
	-fx-alignment: center-left;
	-fx-padding: 10px;
	-fx-spacing: 10px;
}

.menu-btn Label, .menu-btn SVGPath {
	-fx-text-fill: white;
	-fx-font-family: "Cascadia Mono PL";
	-fx-font-size: 16px;
	-fx-fill: white;
}

.menu-btn:hover {
	-fx-background-color: secondary;
	-fx-border-radius: 8px;
	-fx-background-radius: 8px;
	-fx-cursor: hand;
}

.menu-btn:hover Label, .menu-btn:hover SVGPath {
	-fx-text-fill: primary;
	-fx-fill: primary;
}

.active {
	-fx-background-color: secondary;
	-fx-border-radius: 8px;
	-fx-background-radius: 8px;
}

.active Label, .active SVGPath {
	-fx-text-fill: primary;
	-fx-fill: primary;
	-fx-cursor: hand;
}

.title-bar {
	-fx-pref-height: 80px;
	-fx-padding: 10px;
	-fx-alignment: center-left;
}

.title-lbl {
	-fx-text-fill: primary;
	-fx-font-family: "JetBrains Mono";
	-fx-font-size: 23px;
	-fx-font-weight: bold;
}

.titleUser {
	-fx-padding: 10px;
	-fx-spacing: 10px;
	-fx-alignment: center;
}

.titleUser Label, .titleUser SVGPath {
	-fx-fill: primary;
	-fx-text-fill: primary;
	-fx-font-family: "JetBrains Mono";
	-fx-font-size: 15px;
	-fx-font-weight: bold;
}

.clock {
	-fx-padding: 10 0 10 0;
	-fx-spacing: 5px;
	-fx-alignment: center;
}

.clock Label {
	-fx-text-fill: primary;
	-fx-font-family: "JetBrains Mono";
	-fx-font-size: 15px;
	-fx-font-weight: bold;
}

.view {
	-fx-pref-width: 880px;
	-fx-pref-height: 620px;
}

.cart-view {
	-fx-pref-width: 380px;
}

.cart-view-frame {
	-fx-pref-width: 375px;
}

.cart-product-box {
	-fx-alignment: center;
	-fx-pref-width: 220px;
	-fx-pref-height: 130px;
	-fx-background-color: #dcdcdc;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
	-fx-border-color: black;
	-fx-border-width: 1px;
	-fx-padding: 10px;
	-fx-spacing: 8px;
}

.cart-product-box > .pro-price {
	-fx-font-family: "Arial Narrow";
	-fx-font-size: 23px;
	-fx-text-fill: primary;
	-fx-font-weight: bold;
}

.cart-product-box > .c-name {
	-fx-font-family: "Arial Narrow";
	-fx-font-size: 14px;
	-fx-text-fill: other;
	-fx-font-weight: bold;
}

.cart-product-box > HBox {
	-fx-alignment: center;
	-fx-spacing: 10px;
}

.stock {
	-fx-text-fill: primary;
	-fx-font-weight: bold;
	-fx-font-size: 13px;
}

.out-stock {
	-fx-text-fill: red;
	-fx-font-weight: bold;
	-fx-font-size: 13px;
}

.cart-product-box:hover {
	-fx-background-color: silver;
	-fx-cursor: hand;
}

.cart-tbl-header {
	-fx-pref-height: 55px;
	-fx-background-color: linear-gradient(to right top, #004d7a, #008793, #008793, #008793, #004d7a);
	-fx-background-radius: 5 5 0 0;
}

.cart-tbl-header .lbl-1 {
	-fx-text-fill: white;
	-fx-font-size: 17px;
	-fx-font-weight: bold;
	-fx-font-family: "Arial";
}

.cart-tbl-header .lbl-2 {
	-fx-text-fill: #dcdcdc;
	-fx-font-size: 11px;
	-fx-font-weight: bold;
}

.cart-tbl-row {
	-fx-min-width: 343px;
	-fx-pref-width: 343px;
	-fx-max-width: 343px;
	-fx-min-height: 60px;
	-fx-pref-height: 60px;
	-fx-max-height: 60px;
	-fx-alignment: center-left;
	-fx-border-color: silver;
	-fx-border-width: 0 0 1 0;
}

.cart-tbl-row .delete-box {
	-fx-alignment: center;
	-fx-min-width: 32px;
	-fx-pref-width: 32px;
	-fx-max-width: 32px;
}

.cart-tbl-row .delete-box > SVGPath {
	-fx-fill: red;
}

.cart-tbl-row .delete-box:hover {
	-fx-cursor: hand;
}

.cart-tbl-row .name-price-box {
	-fx-min-width: 165px;
	-fx-pref-width: 165px;
	-fx-max-width: 165px;
	-fx-alignment: center-left;
	-fx-spacing: 5px;
}

.cart-tbl-row .tbl-row-pro-name {
	-fx-text-fill: primary;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-font-family: "Cascadia Code PL";
}

.cart-tbl-row .tbl-row-font-prop {
	-fx-text-fill: primary;
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	-fx-font-family: "JetBrains Mono";
}

.cart-tbl-row .qty-box {
	-fx-min-height: 35px;
	-fx-pref-height: 35px;
	-fx-max-height: 35px;
	-fx-min-width: 60px;
	-fx-pref-width: 60px;
	-fx-max-width: 60px;
	-fx-border-color: primary;
	-fx-border-width: 1px;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}

.cart-tbl-row .qty-lbl-box {
	-fx-alignment: center;
	-fx-min-width: 29px;
	-fx-pref-width: 29px;
	-fx-max-width: 29px;
	-fx-border-radius: 5 0 0 5;
	-fx-background-radius: 5 0 0 5;
}

.cart-tbl-row .qty-btn-plus {
	-fx-pref-height: 25px;
	-fx-min-width: 30px;
	-fx-pref-width: 30px;
	-fx-max-width: 30px;
	-fx-alignment: center;
	-fx-background-color: primary;
	-fx-background-radius: 0 5 0 0;
	-fx-border-radius: 0 5 0 0;
	-fx-border-color: silver;
	-fx-border-width: 0 0 1 0;
}

.cart-tbl-row .qty-btn-plus:hover {
	-fx-cursor: hand;
}

.cart-tbl-row .qty-btn-lbl {
	-fx-text-fill: white;
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	-fx-font-family: "JetBrains Mono";
}

.cart-tbl-row .qty-btn-minus {
	-fx-pref-height: 25px;
	-fx-min-width: 30px;
	-fx-pref-width: 30px;
	-fx-max-width: 30px;
	-fx-alignment: center;
	-fx-background-color: primary;
	-fx-background-radius: 0 0 5 0;
	-fx-border-radius: 0 0 5 0;
	-fx-border-color: silver;
	-fx-border-width: 1 0 0 0;
}

.cart-tbl-row .qty-btn-minus:hover {
	-fx-cursor: hand;
}

.cart-tbl-row .qty-btn-plus:hover {
	-fx-cursor: hand;
}

.cart-tbl-row .tot-box {
	-fx-pref-width: 60px;
	-fx-alignment: center-right;
}

.inv-list {
	-fx-pref-width: 140px;
	-fx-border-color: primary;
	-fx-border-width: 1;
}

.cart-save {
	-fx-pref-width: 140px;
	-fx-pref-height: 40px;
	-fx-background-color: transparent;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	-fx-border-color: primary;
	-fx-border-width: 1px;
}

.cart-save > Label, .cart-save > SVGPath {
	-fx-fill: primary;
	-fx-text-fill: primary;
	-fx-font-size: 16px;
	-fx-font-family: "JetBrains Mono";
	-fx-font-weight: bold;
}

.cart-save:hover > Label, .cart-save:hover > SVGPath {
	-fx-fill: silver;
	-fx-text-fill: silver;
}

.cart-save:hover {
	-fx-cursor: hand;
}

.cart-pay {
	-fx-pref-height: 40px;
	-fx-background-color: pay;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}

.cart-pay > Label, .cart-pay > SVGPath {
	-fx-fill: white;
	-fx-text-fill: white;
	-fx-font-size: 16px;
	-fx-font-family: "JetBrains Mono";
	-fx-font-weight: bold;
}

.cart-pay:hover > Label, .cart-pay:hover > SVGPath {
	-fx-fill: primary;
	-fx-text-fill: primary;
}

.cart-pay:hover {
	-fx-cursor: hand;
}

.search-bar {
	-fx-pref-height: 50px;
}

.update-box {
	-fx-padding: 2px;
	-fx-spacing: 4px;
}

.update-box > HBox {
	-fx-alignment: center;
	-fx-pref-width: 22px;
	-fx-pref-height: 22px;
}

.update-box > HBox:hover {
	-fx-cursor: hand;
}

.txt-fld {
	-fx-pref-height: 28px;
	-fx-alignment: center-left;
	-fx-spacing: 5px;
	-fx-border-color: primary;
	-fx-border-width: 0 0 1 0;
}

.txt-fld > VBox {
	-fx-pref-width: 23px;
	-fx-alignment: center;
}

.txt-fld > .text-field, .txt-fld > SVGPath {
	-fx-pref-width: 178px;
    -fx-prompt-text-fill: primary;
    -fx-background-color: transparent;
    -fx-fill: primary
}

.txt-fld .txt-icon-box {
	-fx-min-width: 22px;
	-fx-pref-width: 22px;
	-fx-max-width: 22px;
}

.text-area {
	-fx-pref-width: 178px;
	-fx-prompt-text-fill: primary;
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.search-box {
	-fx-background-color: silver;
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
	-fx-min-height: 32px;
	-fx-pref-height: 32px;
	-fx-max-height: 32px;
}

.search-box > .text-field {
	-fx-prompt-text-fill: primary;
	-fx-background-color: transparent;
}

.search-box > VBox, .icon-box {
	-fx-background-color: silver;
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
	-fx-min-height: 32px;
	-fx-pref-height: 32px;
	-fx-max-height: 32px;
	-fx-pref-width: 30px;
}

.search-box > VBox > SVGPath, .icon-box > SVGPath {
	-fx-fill: primary;
}

.search-box > VBox:hover, .icon-box:hover {
	-fx-cursor: hand;
}

.combo-box {
	-fx-pref-width: 178px;
	-fx-background-color: transparent;
}

.combo-box .arrow-button:hover {
	-fx-cursor: hand;
}

.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background: transparent;
    -fx-background-color: #dcdcdc;
    -fx-text-fill: primary;
}

.combo-box .combo-box-popup .list-cell:hover {
	-fx-background-color: white;
}

.date-picker {
	-fx-min-height: 32px;
	-fx-pref-height: 32px;
	-fx-max-height: 32px;
	-fx-pref-width: 150px;
	-fx-background-color: transparent;
	-fx-border-color: primary;
	-fx-border-width: 0 1 1 0;
}

.date-picker > .text-field {
	-fx-background-color: transparent;
	-fx-prompt-text-fill: primary;
}

.date-picker > .arrow-button {
	-fx-background-color: transparent;
}

TilePane {
	-fx-hgap: 10px;
	-fx-vgap: 10px;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #C0C0C0;
    -fx-background-radius: 5em;
    -fx-pref-height: 5px;
}

.scroll-bar:vertical .thumb {
	-fx-background-color: #C0C0C0;
    -fx-background-radius: 5em;
	-fx-pref-width: 5px;
}

.table-view {
	-fx-background-color: transparent;
}

.table-view .colomn-header-background .filler {
	-fx-background-color: transparent;
}

.table-view .corner {
	-fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to right top, #004d7a, #008793, #008793, #008793, #004d7a);
    -fx-background-radius: 7px 7px 0px 0px;
}

.table-view .column-header {
	-fx-background-color: transparent;
}

.table-view .column-header .label {
	-fx-text-fill: white;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-alignment: center-left;
    -fx-padding: 2 5 2 5;
}

.table-row-cell:focused > .label {
	-fx-text-fill: primary;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 5;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: #dcdcdc;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: #dcdcdc;
}

.check-box {
	-fx-background-color: transparent;
}

.check-box .box {
	-fx-background-color: transparent;
	-fx-border-color: primary;
	-fx-border-radius: 3px;
}

.check-box .text {
	-fx-text-fill: primary;
	-fx-font-weight: bold;
}

.btn {
	-fx-pref-width: 100px;
	-fx-pref-height: 28px;
	-fx-background-color: primary;
	-fx-border-radius: 15px;
	-fx-background-radius: 15px;
	-fx-text-fill: white;
	-fx-spacing: 5px;
}

.btn > SVGPath {
	-fx-fill: white;
}

.btn:hover {
	-fx-background-color: linear-gradient(to right top, primary, #004d7a, #008793, #00bf72, secondary);
	-fx-cursor: hand;
}

.ali-cl {
	-fx-alignment: center-left;
}

.cat-vw-fr {
	-fx-pref-width: 600px;
	-fx-pref-height: 300px;
}

.pro-vw-fr {
	-fx-pref-width: 600px;
	-fx-pref-height: 500px;
}

.emp-vw-fr {
	-fx-pref-width: 600px;
	-fx-pref-height: 550px;
}

.lg-vw-fr {
	-fx-pref-width: 600px;
	-fx-pref-height: 400px;
}

.mb-vw-fr {
	-fx-background-color: #CCCCCC;
	-fx-pref-width: 450px;
	-fx-pref-height: 200px;
}

.img-vw {
	-fx-fit-to-width: 130px;
	-fx-fit-to-height: 130px;
}

.mb-fp {
	-fx-text-fill: primary;
	-fx-font-size: 13px;
	-fx-font-family: "JetBrains Mono";
}

.wid20 {
	-fx-pref-width: 20px;
}

.wid180 {
	-fx-pref-width: 180px;
}

.wid500 {
	-fx-pref-width: 435px;
}

.ali-cr {
	-fx-alignment: center-right;
}

.ali-c {
	-fx-alignment: center;
}

.ali-bc {
	-fx-alignment: bottom-center;
}

.ali-bl {
	-fx-alignment: bottom-left;
}

.spac5 {
	-fx-spacing: 5px;
}

.spac10 {
	-fx-spacing: 10px;
}

.spac30 {
	-fx-spacing: 30px;
}

.pad15-t {
	-fx-padding: 15 0 0 0;
}

.pad10 {
	-fx-padding: 10px;
}

.pad10-r {
	-fx-padding: 0 10 0 0;
}

.pad10-l {
	-fx-padding: 0 0 0 10;
}

.pad10-t {
	-fx-padding: 10 0 0 0;
}

.pad10-b {
	-fx-padding: 0 0 10 0;
}

.pad10-rbl {
	-fx-padding: 0 10 10 10;
}

.pad10-rl {
	-fx-padding: 0 10 0 10;
}

.pad5-tl {
	-fx-padding: 5 0 0 5;
}

.pad10-bl {
	-fx-padding: 0 0 10 5;
}

.pad10-tb {
	-fx-padding: 10 0 10 0;
}

.pad5-tb {
	-fx-padding: 10 0 5 0;
}

.pad10-rb {
	-fx-padding: 0 10 10 0;
}

.pad20-b {
	-fx-padding: 0 0 20 0;
}

.fs-14 {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}

.fc-r {
	-fx-text-fill: red;
}

.fc-p {
	-fx-text-fill: primary;
}

.bg-white {
	-fx-background-color: white;
}